  <!-- /.col -->
  <div class="col-md-9">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Liste des produits</h3>
        <div class="card-tools">
          <div class="input-group input-group-sm">
            <!-- <input #SeachProduct (keyup)="search(SeachProduct.value)" type="text" class="form-control" placeholder="Search Mail"> -->
            <input type="text" class="form-control" placeholder="Search Mail">

            <div class="input-group-append">
              <div class="btn btn-primary">
                <i class="fas fa-search"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <div class="mailbox-controls">
            <a routerLink="/admin/addproduct"  class="btn btn-default btn-sm"><i class="fa fa-plus-circle"></i> Add new Product</a>

          <!-- Check all button -->
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
          </div>
          <!-- /.btn-group -->
         
          <!-- /.float-right -->
        </div>
        <div class="table-responsive mailbox-messages">
          <table class="table table-hover table-striped">
            <tbody>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
                <tr *ngFor="let prod of products">
                    <td><img src="#"></td>
                    <td>{{prod.name}}</td>
                    <td>{{prod.category}}</td>
                    <td>{{prod.brand}}</td>
                    <td>{{prod.price}}</td>
                    <td>{{prod.desc | slice:0:20}}</td>
                    <td>
                        <button (click)="deletedata(prod.id)" class="btn btn-default btn-sm"><i class="fas fa-trash"></i></button>
                        <button  class="btn btn-default btn-sm" routerLink="/admin/edit/{{prod.id}}"><i class="fas fa-edit"></i></button>
                        <button  class="btn btn-default btn-sm"><i class="fas fa-eye"></i></button>

                    </td>
                </tr> 
                <!-- <tr>
                  <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIQTDD7FUwpZ-h9vS9EflnjcKP3_ORFo90lA&usqp=CAU" style="width:50px; height:50px"></td>
                  <td>dali</td>
                  <td>dlaz</td>
                  <td>de</td>
                  <td>daaa</td>
                  <td>lm</td>
                  <td>
                      <button type="button" class="btn btn-default btn-sm"><i class="fas fa-trash"></i></button>
                      <button type="button" class="btn btn-default btn-sm"><i class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-default btn-sm"><i class="fas fa-eye"></i></button>

                  </td>
              </tr> -->
            </tbody>
          </table>
          <!-- /.table -->
        </div>
        <!-- /.mail-box-messages -->
      </div>
      <!-- /.card-body -->
     
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->



